*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    border-radius: 25px;/*加个圆角边框*/
    
    padding: 15px;
    width: 100px;
    border-color: #000000;/*黑白配*/
    
}
:root{
    --td-width:120px;
    --td-height:60px;
    
}
.container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eff4f5;
   
    
}
.main{
    width: 80%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;


}
    
   
.head{
    background-color: #000000;
    color: #ffffff;
}
.head td{
    width:var(--td-width);
    height: var(--td-height);
    text-align: center;
}
.part1{
    white-space:pre-line;
    line-height: 25px;
}
.part1 td{
    width: var(--td-width);
    height: var(--td-height);
    text-align: center;
}
.part1:nth-child(odd){
    background-color: #000000;
    color: #ffffff;
}
.part1:nth-child(even){
    color: #0e0101;
}
  